<section class="content-warp">
  <div class="container">
    <div class="row">
      <main class="col-md-8 main-content">

        <article id="85" class="post tag-about-ghost tag-release featured">
          <div class="featured" title="推荐文章">
            <i class="fa fa-star"></i>
          </div>

          <div class="post-head">
            <h1 class="post-title"><a href="/ghost-0-6-3-released/">Ghost 0.6.3 版本正式发布</a></h1>
            <div class="post-meta">
              <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
              <time class="post-date" datetime="2015年5月18日星期一凌晨3点30" title="2015年5月18日星期一凌晨3点30">2015年5月18日</time>
            </div>
          </div>
          <div class="post-content">
            <p>Ghost 0.6.3 版本已经正式发布了！此版本主要修复了一些 bug 并包含了几个新特性，例如：博文预览。 Ghost 0.6.3 的主要变化 [新增] 博文预览 [新增] 带密码保护的私密博客 [新增] 为作者自定义页面模板 [增强] 登陆状态延长至 7 天 [修复] 编辑</p>
          </div>
          <div class="post-permalink">
            <a href="/ghost-0-6-3-released/" class="btn btn-default">阅读全文</a>
          </div>

          <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
              <i class="fa fa-folder-open-o"></i>
              <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
            </div>
            <div class="pull-right share">
            </div>
          </footer>
        </article>





        <article id="83" class="post tag-about-ghost tag-release">

          <div class="post-head">
            <h1 class="post-title"><a href="/ghost-0-6-2-released/">Ghost 0.6.2 版本正式发布</a></h1>
            <div class="post-meta">
              <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
              <time class="post-date" datetime="2015年4月26日星期日晚上11点43" title="2015年4月26日星期日晚上11点43">2015年4月26日</time>
            </div>
          </div>
          <div class="post-content">
            <p>Ghost 0.6.2 主要是对 0.6.x 版本发布以来进行的 bug 修复。是否会问 0.6.1 版本去哪儿了？其实又被乌龙了，刚发布就发现有重大 bug，所以 0.6.2 成了救火的版本了。。。 主要变化 [修复] 在 Ghost 后台，作者（author）无法访问自己的信</p>
          </div>
          <div class="post-permalink">
            <a href="/ghost-0-6-2-released/" class="btn btn-default">阅读全文</a>
          </div>

          <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
              <i class="fa fa-folder-open-o"></i>
              <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
            </div>
            <div class="pull-right share">
            </div>
          </footer>
        </article>



        <article id="81" class="post tag-about-ghost tag-release">

          <div class="post-head">
            <h1 class="post-title"><a href="/ghost-0-6-0-released/">Ghost 0.6.0 版本正式发布</a></h1>
            <div class="post-meta">
              <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
              <time class="post-date" datetime="2015年4月21日星期二下午1点22" title="2015年4月21日星期二下午1点22">2015年4月21日</time>
            </div>
          </div>
          <div class="post-content">
            <p>Ghost 0.6.0 已经正式发布了！Github、npm、Ghost.org 和 GhostChina.com 上已经都可以下载了。Ghost 0.6.0 的代码有了很多改变，同时也增加了很多功能、修改了很多 bug。 主要变化 [新增] 编辑器增加了拼写检查（针对的是英文</p>
          </div>
          <div class="post-permalink">
            <a href="/ghost-0-6-0-released/" class="btn btn-default">阅读全文</a>
          </div>

          <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
              <i class="fa fa-folder-open-o"></i>
              <a href="/tag/about-ghost/">Ghost</a>, <a href="/tag/release/">新版本发布</a>
            </div>
            <div class="pull-right share">
            </div>
          </footer>
        </article>



      </main>
      <aside class="siderbar col-md-4">


          <!-- start widget -->
          <!-- end widget -->	

          <!-- start tag cloud widget -->
          <div class="widget">
            <h4 class="title">社区</h4>
            <div class="content community">
              <p>QQ群：462694081</p>
              <p><a href="http://wenda.golaravel.com/" title="Laravel中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
            </div>
          </div>
          <!-- end tag cloud widget -->	

          <!-- start widget -->
          <div class="widget">
            <h4 class="title">下载</h4>
            <div class="content download">
              <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载 Laravel &amp; Lumen'])">Laravel &amp; Lumen 一键安装包下载</a>
            </div>
          </div>
          <!-- end widget -->	


          <!-- start tag cloud widget -->
          <div class="widget">
            <h4 class="title">标签云</h4>
            <div class="content tag-cloud">
              <a href="/tag/laravel/">Laravel</a>
              <a href="/tag/laravel-5/">Laravel 5</a>
              <a href="/tag/getting-started-with-laravel/">Laravel入门教程</a>
              <a href="/tag/eloquent/">Eloquent</a>
              <a href="/tag/laravle5/">laravle5</a>
              <a href="/tag/laravel-5-1/">Laravel 5.1</a>
              <a href="/tag/orm/">ORM</a>
              <a href="/tag/xin-ban-ben-fa-bu/">新版本发布</a>
              <a href="/tag/lts/">LTS</a>
              <a href="/tag/artisan/">Artisan</a>
              <a href="/tag/php/">PHP</a>
              <a href="/tag/composer/">Composer</a>
              <a href="/tag/wei-kuang-jia/">微框架</a>
              <a href="/tag/lumen/">Lumen</a>
              <a href="/tag/ming-ming-kong-jian/">命名空间</a>
              <a href="/tag/laravel4/">Laravel4</a>
              <a href="/tag/whoops/">Whoops</a>
              <a href="/tag/event/">Event</a>


              <a href="/tag-cloud/">...</a>
            </div>
          </div>
          <!-- end tag cloud widget -->	

          <!-- start widget -->
          <!-- end widget -->	

          <!-- start widget -->
          <!-- end widget -->             
        </aside> 


      </aside>
    </div>
  </div>
</section>
